.header{
    background-image: url("pictures/background.jpg");
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
tbody tr:hover
    {background-color: rgb(240, 240, 240);}

.fa
    {color: #000000}

.fa:hover
    {color: #3f3e3eec;}

.card 
    {height: 200px;
    border-radius: 20px;
    background-color: rgba(219, 219, 219, 0.616);}

.open-card
    {background-color: rgb(136, 196, 112);
    border-radius: 20px;}

.open-card a 
    {background-color: black;
    border: none;}

.closed-card
    {background-color: rgb(224, 131, 131);
    border-radius: 20px;}

.closed-card a
    {background-color: black;
    border: none;}

.reg{
    color: rgb(0, 0, 0);}

.reg:hover{
    color:rgba(219, 219, 219, 0.616)}

.nav-link:hover{
    background-color: rgb(240, 175, 62);
}

.usercard{
    width: 60%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}

.szerzo{

    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
}

.worksheetcard{
    height: auto;
    border-radius: 10px;
}

.line{
    border-bottom: 1px solid black;
}